<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG KÍ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="./static/css/signup.css">
    <!-- <script src="./static/js/edit.js"></script> -->
</head>
<body>
    <div id="container">
        <div id="container__login">
            <div class="container__login__header">
                <h1>ĐẶT LẠI MẬT KHẨU</h1>
            </div>
            <div class="container__login__body">
                <div  class="container__body__formLogin">
                    <div class="formLogin__input">
                        <input type="text" id="oldpassword" placeholder="Nhập mật khẩu cũ"><i class="fas fa-key"></i>
                    </div>
                    <div class="formLogin__input">
                        <input type="text" id="newpassword" placeholder="Nhập mật khẩu mới"><i class="fas fa-key"></i>
                    </div>
                    <div class="formLogin__input">
                        <input type="text" id="password" placeholder="Nhập lại mật khẩu"><i class="fas fa-key"></i>
                    </div>
                    <div id="error__signup">
                        
                    </div>
                    <div class="formLogin__input">
                        <button onclick="setpassword()">CẬP NHẬT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/edit.js"> 
</script>
</html>