<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin truyện</title>
    <link rel="stylesheet" href="/static/css/intro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <div id="header">
        <div class="header__logo">
            <div class="header__logo__img">
                <img src="https://i.pinimg.com/736x/34/e4/c1/34e4c16dd7d9d9bad3e731a354daabb2.jpg" alt="">
            </div>
        </div>
        <div class="header__home">
            <a href="/index">DOCTRUYEN</a>
        </div>
        <div class="header__navbar">
            <ul class="header__navbar__nav">
                <li>
                    <a class="navar__nav__list" href=""><i class="fas fa-th-list"></i>
                        DANH SÁCH 
                    </a>
                    <ul id="listStoryByIdCategory">
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Ngôn tình</a></li>
                    </ul>
                </li>
                <li>
                    <a class="navar__nav__list" href=""><i class="fas fa-th-list"></i>
                        PHÂN LOẠI THEO CHƯƠNG
                    </a>
                    <ul>
                        <li><a href="/ChapterFromTo?To=10">Dưới 10 chương</a></li>
                        <li><a href="/ChapterFromTo?From=10&&To=20">Trên 10 chương-20 chương </a></li>
                        <li><a href="/ChapterFromTo?From=20&&To=30">Trên 20 chương-30 chương </a></li>
                        <li><a href="/ChapterFromTo?From=30">Trên 30 chương</a></li>
                    </ul>
                </li>
                <li>
                    <a class="navar__nav__list" href=""><i class="fas fa-th-list"></i>
                        THÊM
                    </a>
                    <ul id='role'>
                        <li><a href="">nhi hiền lành</a></li>
                        <li><a href="">nhi nhân hậu</a></li>
                        <li><a href="">nhi tốt bụng</a></li>
                        <li><a href="">nhi nhân ái</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header__search">
            <div action="" id="formSearchStory">
                <input onkeyup="search()" type="search" id="searchStory" name="searchStory" placeholder="Tìm kiếm...">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="header__User">
            <div class="header__User__signUp" id="signup">
                <a href="/login">ĐĂNG NHẬP<i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="container__information" id="intro">
            <h1>THÔNG TIN TRUYỆN</h1>
            <div class="container__information__intro">
                <div class="information__intro__basic">
                    <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSA4KdSkTvnGCPNga8Ve67SlVt2Ye6rdzdHg&usqp=CAU" alt="ảnh"></a>
                    <div class="information__intro__info">
                        <h3>Tác giả : <span></span></h3>
                        <h3>Thể loại : <span></span></h3>
                        <h3>Nguồn : <span></span></h3>
                        <h3>Trạng thái : <span></span></h3>
                    </div>
                </div>
                <div class="information__intro__text">
                    <h2></h2>
                    <p>
                        
                        </p>
                </div>
            </div>
        </div>    
        <div class="container__recommend" id='recommend'>
            <h1>Có thể bạn thích ? </h1>
            <a href="">truyện 1 Nhi hiền lành</a>
            <a href="">truyện 2 Nhi hiền lành</a>
            <a href="">truyện 3 Nhi hiền lành</a>
            <a href="">truyện 4 Nhi hiền lành</a>
            <a href="">truyện 5 Nhi hiền lành</a>
            <a href="">truyện 6 Nhi hiền lành</a>
            <a href="">truyện 7 Nhi hiền lành</a>
            <a href="">truyện 8 Nhi hiền lành</a>
            <a href="">truyện 9 Nhi hiền lành</a>
            <a href="">truyện 10 Nhi hiền lành</a>            
        </div>
        <div class="container__listchapter">
            <h2>DANH SÁCH CHƯƠNG</h2>
            <div class="container__listchapter__list" id="listchapter">
                <a href="">Chương 1 :</a>
                <a href="">Chương 2 :</a>
                <a href="">Chương 3 :</a>
                <a href="">Chương 4 :</a>
                <a href="">Chương 5 :</a>
                <a href="">Chương 6 :</a>
                <a href="">Chương 7 :</a>
                <a href="">Chương 8 :</a>
                <a href="">Chương 9 :</a>
                <a href="">Chương 10 :</a>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer__information">
            <p><b>DOCTRUYEN</b>:  Đọc truyện online, đọc truyện chữ, truyện hay. Website luôn cập nhật những bộ truyện mới thuộc các thể loại đặc sắc như truyện tiên hiệp, truyện kiếm hiệp, hay truyện ngôn tình một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.</p>
        </div>
    </div>
</body>   
<script src="/static/js/base.js"></script>
<script src="/static/js/intro.js"></script> 
</html>