<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG NHẬP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="./static/css/login.css">
    
</head>
<body>
    <div id="container">
        <div id="container__login">
            <div class="container__login__header">
                <h1>ĐĂNG NHẬP</h1>
            </div>
            <div class="container__login__body">
                <div class="container__body__formLogin">
                    <div class="formLogin__input">
                        <input type="text" id="userName" placeholder="Tài Khoản"><i class="fas fa-user"></i>
                    </div>
                    <div class="formLogin__input">
                        <input type="text" id="password" placeholder="Mật khẩu"><i class="fas fa-key"></i>
                    </div>
                    <div id="Error">
                        <p>
                            
                        </p>
                    </div>    
                    <div class="formLogin__input">
                        <button onclick="Login()">ĐĂNG NHẬP</button>
                    </div>
                </div>
                <div class="container__body__userSetup">
                        <a href="">Quên mật khẩu?</a>
                        <a href="signup">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./static/js/login.js"></script>
</html>