<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viết truyện mới</title>
    <link rel="stylesheet" href="/static/css/writenew.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <div id="header">
        <div class="header__logo">
            <div class="header__logo__img">
                <img src="https://i.pinimg.com/736x/34/e4/c1/34e4c16dd7d9d9bad3e731a354daabb2.jpg" alt="">
            </div>
        </div>
        <div class="header__home">
            <a href="/index">DOCTRUYEN</a>
        </div>
        <div class="header__navbar">
            <ul class="header__navbar__nav">
                <li>
                    <a class="navar__nav__list" href=""><i class="fas fa-th-list"></i>
                        DANH SÁCH 
                    </a>
                    <ul id = "listStoryByIdCategory">
                        <li><a href="">Ngôn tình</a></li>
                        <li><a href="">Đam mỹ</a></li>
                        <li><a href="">Xuyên không</a></li>
                        <li><a href="">Ngược</a></li>
                        <li><a href="">Trọng sinh</a></li>
                        <li><a href="">Đô thị</a></li>
                        <li><a href="">Điền văn</a></li>
                        <li><a href="">Sắc</a></li>
                    </ul>
                </li>
                <li>
                    <a class="navar__nav__list" href=""><i class="fas fa-th-list"></i>
                        PHÂN LOẠI THEO CHƯƠNG
                    </a>
                    <ul>
                        <li><a href="/ChapterFromTo?To=10">Dưới 10 chương</a></li>
                        <li><a href="/ChapterFromTo?From=10&&To=20">Trên 10 chương-20 chương </a></li>
                        <li><a href="/ChapterFromTo?From=20&&To=30">Trên 20 chương-30 chương </a></li>
                        <li><a href="/ChapterFromTo?From=30">Trên 30 chương</a></li>
                    </ul>
                </li>
                <li>
                    <a class="navar__nav__list" href=""><i class="fas fa-th-list"></i>
                        THÊM
                    </a>
                    <ul id="role">
                        <li><a href="">nhi hiền lành</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header__search">
            <div action="" id="formSearchStory">
                <input onkeyup="search()" type="search" id="searchStory" name="searchStory" placeholder="Tìm kiếm...">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="header__User">
            <div class="header__User__signUp" id="signup">
                <a href="login">ĐĂNG NHẬP<i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="container__info">
            <div class="container__info__main">
                <div class="container__info__left">
                    <div class="container__info__e">
                        <input type="text" id="storyName" placeholder="Nhập tên truyện">
                    </div>
                    <div class="container__info__e">
                        <input type="text" id="author" placeholder="Tác giả">
                    </div>
                    <div class="container__info__e">
                        <input type="text" id="source" placeholder="Nguồn">
                    </div>
                    <div class="container__info__e">
                        <input type="text" id="status" placeholder="Trạng thái">
                    </div>
                    <textarea id="description" name="description" rows="" cols="" placeholder="Nhập văn án "></textarea>
                    <div class="container__info__e">
                        <input type="text" id="chapter1" placeholder="Tên chương 1 :">
                    </div>
                </div>
                <div class="container__info__right">
                    <div class="container__info__e">
                        <div name="Thể loại" >Thể loại : </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="ngontinh" name="Ngôn tình">
                            <label for="ngontinh" name="Thể loại" >Ngôn tình</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="dammy" name="Đam mỹ">
                            <label for="dammy" name="Thể loại" >Đam mỹ</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="dienvan" name="Điền văn">
                            <label for="dienvan" name="Thể loại" >Điền văn</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="nguoc" name="Ngược">
                            <label for="nguoc" name="Thể loại" >Ngược</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="dothi" name="Đô thị">
                            <label for="dothi" name="Thể loại" >Đô thị</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="trongsinh" name="Trọng sinh">
                            <label for="trongsinh" name="Thể loại" >Trọng sinh</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="xuyenkhong" ="Xuyên không">
                            <label for="xuyenkhong" name="Thể loại" >Xuyên không</label>
                        </div>
                        <div class="select">
                            <input type="checkbox" class="description" id="sac" name="Sắc">
                            <label for="sac" name="Thể loại" >Sắc</label>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="container__info__Chapter">
                <textarea id="content" name="description" rows="" cols="" placeholder="Nội dung chương 1"></textarea>
            </div>
            <div class="container__info__Submit">
                <button>ĐĂNG</button>
            </div>
        </div>  
    </div>
    <div id="footer">
        <div class="footer__information">
            <p><b>DOCTRUYEN</b>:  Đọc truyện online, đọc truyện chữ, truyện hay. Website luôn cập nhật những bộ truyện mới thuộc các thể loại đặc sắc như truyện tiên hiệp, truyện kiếm hiệp, hay truyện ngôn tình một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.</p>
        </div>
    </div>
</body>
<script src="./static/js/base.js"></script>
<script src="./static/js/writenew.js"></script>
</html>
