*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#header{
    position: fixed;
    background-color: #F28076;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
}
#header .header__logo{
   margin-left: 30px;
   margin-right: 10px ;
   float: left;
   padding: 5px; 
}
#header .header__logo .header__logo__img{
    
}
.header__logo .header__logo__img img{
    width: 60px;
    height: 60px;
}
#header .header__home{
    float: left;
}
#header .header__home a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 70px;
    font-weight: bold;
} 
#header .header__navbar{
    float: left;
    margin-left: 20px;
}
#header .header__navbar .header__navbar__nav {

}
.header__navbar .header__navbar__nav li{
    display: inline-block;
}
.header__navbar__nav li i{

}
.header__navbar__nav>li>a{
    line-height: 70px;
    color: black;
    text-decoration: none;
    padding:0 16px;
    position: relative;
}
.header__navbar__nav li ul{
    position: absolute;
    display: none; 
}
.header__navbar__nav li ul li{
    display: block !important;
    background-color: #f8bbb6;
    line-height: 30px;
    padding: 0px 20px 0px 20px;
}
.header__navbar__nav li ul li:hover{
    background-color: #f8bbb6;
}
.header__navbar__nav li:hover ul {
    display: block;
}
.header__navbar__nav li:hover{
    background-color: #f8bbb6;
    cursor: pointer;
}
.navar__nav__list + ul li a{
    text-decoration: none;
}
#header .header__search{
    padding: 18px;
    float: left;
    margin-left: 40px;
}
#formSearchStory{
    height: 30px;
}
#formSearchStory input{
    position: relative;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}
#formSearchStory input i{
    position: absolute;
    right:0;
    top:10px
}
#header .header__User{
    float: right;
    margin-right: 70px;
}
.header__User .header__User__signUp{

}
.header__User .header__User__signUp a{
    line-height: 70px; 
    color: black;
    text-decoration: none;
}
.header__User__signUp a i{
    margin-left: 20px;
}
#container{
    float: left;
    display: block;
    background: url('../images/images(8).jpg')  no-repeat ;
    background-size: 100vw 100vh ,cover;
    min-height: 600px;
    margin-top: 70px;
    width: 100vw;
}
#container .container__new{

}
#container .container__new a{
    margin: 20px 0px 10px 30px;
    padding: 5px;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}
#container .container__list{

}
#container .container__list ul{
    margin-top: 30px;
}
.container__list ul li{
    margin-left: 70px;
    min-width: 300px;
}
.container__list ul li a:nth-child(1){
    text-decoration: none;
    min-width: 700px;
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    border: 1px solid black;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}
.container__list ul li a:nth-child(2){
    display: inline-block;
    margin: 0px 10px 0px 10px;
    padding: 4px;
}


